<mat-card class="example-card width">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ body.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ body.image }}" alt=" image of food ">
  <mat-card-content>
    <p>
      Valor: R${{ body.value }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="deleteFood(body.id!)">Excluir</button>
    <button mat-button (click)="updateFood(body)">Atualizar</button>
  </mat-card-actions>
</mat-card>
